

/* Vertically center hero section content */
.hero-section {
	display: flex;
	align-items: center;
	min-height: 60vh;
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/hero.png') center center/cover no-repeat;
	min-height: 350px;
	color: #ffebd4;
}
/* Hero section button text color */
.btn {
	color: #3b2f2f;
}
/* Hero section heading font */
.hero-section h1,
h2 {
    font-family: 'Handlee', cursive;
}

/* Make the current page nav item bold */
.navbar .nav-link.active {
	font-weight: bold;
}
/* Set navbar background and text color */
.navbar, .navbar .navbar-brand, .navbar .nav-link {
	background-color: #fff !important;
	color: #3b2f2f !important;
}
/* Ensure navbar brand image is 30x30px */
.navbar-brand img {
	width: 30px;
	height: 30px;
	object-fit: cover;
}

div.row.margin-top {
	margin-top: 5rem;
}

/* Set height of service card images */
.card-img-top {
    height: 200px;
    object-fit: cover;
}

div.card {
	min-height: 378px;
}

/* Hide any stray lines from SVG social icons in the footer */
footer .text-end a svg {
    overflow: hidden;
    display: inline-block;
}
 /* media query for larger screens */
@media (min-width: 1200px) {
	div.card {
	min-height: 402px;
	}
}